.mc-lists.el
auto-save-list/
cowsay-files/
eln-cache/
eshell/
org-roam.db
places
projectile-bookmarks.eld
projects
racket-mode/
recentf
server/
straight/
transient/
url/
var/
xenops/
*.elc
/pam/
/tree-sitter/
/forge-database.sqlite
/bookmarks
/.cache/
/.org-id-locations
/lisp/package-management/sandbox/
/dist/
/lisp/local-projects/my-autoload.el
/devdocs/
/emacs-gc-stats.eld.gz
/persp-confs/
/session.*
/tramp
/elpa/
/custom.el
