.#*
/.emacs.d/.cask
/.emacs.d/elpa/
/.emacs.d/emacs-cowsay/
/.emacs.d/eshell/
/.emacs.d/helm-adaptive-history
/.emacs.d/hgs-cache
/.emacs.d/js-mode/
/.emacs.d/network-security.data
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/projectile.cache
/.emacs.d/racket-mode/
/.emacs.d/recentf
/.emacs.d/recentf~
/.emacs.d/request/
/.emacs.d/server/
/.emacs.d/transient/
/.emacs.d/var/
/.emacs.d/url/
/Adobe
/CodeBlocks
/MiKTeX
/Microsoft
/Opera Software
/Organize_Editing
/Pantum
/Racket
/Telegram Desktop
/Zoom
/bib
/cabal
/compiled
/cowsay-files
/node_modules
/notes
/npm
/projects
\#*
auto-save-list/
devdocs/
/zms
*.org_archive
/.emacs.d/xenops/
/test/
/.org-timestamps/
/Emacs.pdf
/sol.*
/.cache/
/ghc/
*.elc
/.emacs.d/pomm
/.emacs.d/.hl-save
/.emacs.d/straight/
/.emacs.d/.org-id-locations
/org-roam/
/.emacs.d/org-roam.db
/Emacs.org
/emacs_backtrace.txt
/.emacs.d/forge-database.sqlite
/.elfeed/
/.authinfo
.ecukes-failing-scenarios
/agenda.*
*.exe
/sol2.rkt
/opmls/
/.emacs.d/.lsp-session-v1
/.emacs.d/logview-cache.extmap
/Luba.tex
/Maria.tex
/.emacs.d/type-break
/inkscape/
/my-org-db/
/.emacs.d/speed-type/
/.emacs.d/emojis/
/nushell/
